* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Source Serif 4', serif;
}

body {
  color: #A54328;
}

main {
  max-width: 20rem; /*320px*/
  margin-inline: auto;

  padding: 3.125rem 2.5rem;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

img {
  width: 100%;
  margin-block: 2rem;
}

button {
  font-family: 'Source Serif 4', serif;
  background-color: #A54328;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  padding: 0.6875rem;
  margin-top: 2rem;
}

h1 {
  font-size: 1.6875rem;
  line-height: 2.25rem;
}

p, li, strong {
  font-size: 0.875rem; /*14px*/
  line-height: 1.125rem; /*18px*/
}

p {
  text-align: justify;
}

ul, ol {
  padding-left: 1.5rem;
}

ul {
  margin-bottom: 1.5rem;
}

@media (min-width: 1120px) {
  main {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 9rem;

  }

  .recipe {
    max-width: 27.1875rem;
  }

  .ingredients {
    max-width: 32.8125rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }

  p, li, strong {
    font-size: 1.25rem;
    line-height: 1.5662rem;
  }

  button {
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}